<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="30" alt=""
      src="" />
    <span>Jumbo GPS</span>
    <div class="spacer"></div>
    <form>
      <mat-form-field>
        <mat-label>Search By ID</mat-label>
        <input matInput type="text" [(ngModel)]="ID" [ngModelOptions]="{standalone: true}"  (ngModelChange)='showmarkerWithId()'>
        <button mat-button *ngIf="ID" matSuffix mat-icon-button aria-label="Clear" (click)="ID=''">
          <mat-icon>close</mat-icon>
        </button>
  
      </mat-form-field>
  
      <mat-form-field >
        <mat-label>Filter By Type</mat-label>
        <mat-select [(value)]="selectedType" (selectionChange)="typeChange()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 250px;">
        <mat-label>Filter By Date Time</mat-label>
        <input matInput type="text" [(ngModel)]="date" [owlDateTime]="dt"[owlDateTimeTrigger]="dt" [selectMode]="'range'"  [ngModelOptions]="{standalone: true}" (ngModelChange)="dateChange()">
        <button mat-button *ngIf="date" matSuffix mat-icon-button aria-label="Clear" (click)="date=''">
          <mat-icon>close</mat-icon>
        </button>
        <owl-date-time pickerMode='dialog'  #dt ></owl-date-time>
      </mat-form-field>
      <button style="margin: 10px;" mat-raised-button color="primary" (click)="backToNormal()">Reset </button>
    </form>
    
  
    
  </div>
  
  <!-- display map remaining entire screen -->
  
  <app-maps></app-maps>
  
  